.teamMember {
  &Container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    max-width: 320px;

    @media (max-width: 1280px) {
      max-width: 280px;
    }

    @media (max-width: 450px) {
      max-width: 100%;
    }
  }

  &Img {
    box-shadow: var(--card-shadow);
    border: 1px solid var(--border);
    border-radius: 24px;

    &Container {
      position: relative;
    }
  }

  &Overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0.1) 70%,
      rgba(0, 0, 0, 0.5) 80%,
      rgba(0, 0, 0, 0.9) 100%
    );
    z-index: 10;
    border-radius: 24px;

    &Text {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%, -10%);
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--gap-xs);
      color: var(--clr-white);

      z-index: 20;

      &Title {
        font-size: 1.4rem;
        font-weight: bold;
        line-height: 120%;
      }

      &Role {
        font-size: 1rem;
        line-height: 120%;
      }
    }
  }

  &Name {
    font-size: 1.5rem;

    @media (max-width: 450px) {
      text-align: center;
    }
  }

  &Description {
    text-align: start;

    @media (max-width: 450px) {
      text-align: center;
    }
  }
}
