.cta {
  &Outer {
    // padding-block: 8rem;
    padding-block: var(--gap-2xl);
    background-color: var(--clr-purple);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
    padding-inline: 1rem;
    overflow: hidden;
  }

  &Container {
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: 5rem;
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xl);
    border-radius: 2rem;
    border: 0.5px solid #c9c2be;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 5;

    @media (max-width: 1024px) {
      padding: 4rem 3rem;
      gap: var(--gap-md);
    }

    @media (max-width: 768px) {
      padding: 3rem 2rem;
      gap: var(--gap-sm);
    }

    @media (max-width: 450px) {
      flex-direction: column;
    }
  }

  &Title {
    font-family: var(--font-body);
    max-width: 34.1rem;
    font-size: 2.9rem;
    font-style: normal;
    text-align: start;
    font-weight: 500;
    line-height: 120%;
    background: linear-gradient(
      180deg,
      var(--clr-black) 6%,
      var(--clr-black-light) 100.33%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 1024px) {
      font-size: 2.3rem;
      max-width: 30rem;
    }

    @media (max-width: 768px) {
      font-size: 2rem;
      max-width: 24rem;
    }

    @media (max-width: 450px) {
      font-size: 1.8rem;
      max-width: 100%;
    }
  }

  &SubTitle {
    color: var(--clr-black-light);
    max-width: 22.4375rem;
    font-size: 1.125rem;
    line-height: 150%;

    @media (max-width: 768px) {
      font-size: 0.85rem;
    }

    @media (max-width: 450px) {
      font-size: 1rem;
      text-align: start;
    }
  }
}
