@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Winkle";
  src: url("/fonts/Winkle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/glacialIndifference/GlacialIndifference-Regular.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/glacialIndifference/GlacialIndifference-Bold.otf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Glacial Indifference";
  src: url("/fonts/glacialIndifference/GlacialIndifference-Italic.otf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}

:root {
  --clr-white: #f5f0e8;
  --clr-black: #363433;
  --clr-black-light: #4d4a48;
  --clr-red: #e58571;
  --clr-yellow: #f1b875;
  --clr-green: #8fb181;
  --clr-turq: #59aeb2;
  --clr-blue: #81b3df;
  --clr-purple: #cb9ac1;
  --clr-purple-dark: #ab82a2;

  --card-bg: #fffdfa;
  --card-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

  --border: #c4c4c4;

  --font-size-h2: 3.75rem;
  --font-size-h1: 6.5rem;

  --gap-xs: 0.5rem;
  --gap-sm: 1.5rem;
  --gap-md: 2rem;
  --gap-lg: 3rem;
  --gap-xl: 5rem;
  --gap-2xl: 10rem;

  --header-gradient: 247, 242, 236;

  --font-heading: "Winkle", "Arial Rounded MT Bold", "Comic Sans MS", sans-serif;
  --font-body: "Glacial Indifference", "Helvetica", "Arial", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* html,
body {
  overflow-x: hidden;
} */

body {
  color: var(--clr-black);
  background-color: var(--clr-white);
  line-height: 1.8;
  font-family: var(--font-body);

  /* transition */
  transition: opacity 500ms ease-in-out, background-color 500ms ease-in-out,
    transform 500ms ease-in-out;
}

.page-transition {
  opacity: 0 !important;
  background-color: var(--clr-white) !important;
  transform: translateY(10px) !important;
}

.grecaptcha-badge {
  display: none;
}

header {
  position: relative;
  font-family: var(--font-accent);
}

header::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(var(--header-gradient), 1),
    rgba(var(--header-gradient), 0.95),
    rgba(var(--header-gradient), 0.9),
    rgba(var(--header-gradient), 0.85),
    rgba(var(--header-gradient), 0.8),
    rgba(var(--header-gradient), 0.75),
    rgba(var(--header-gradient), 0.6),
    rgba(var(--header-gradient), 0.45),
    rgba(var(--header-gradient), 0.3),
    rgba(var(--header-gradient), 0.15),
    rgba(var(--header-gradient), 0)
  );
  pointer-events: none;
  z-index: -1;
}

h1 {
  font-size: 6.5rem;
  line-height: 105%;
  letter-spacing: -0.125rem;
}

h1,
h2 {
  font-family: var(--font-heading);
}

h2 {
  font-size: 3.75rem;
  line-height: 130%;
  letter-spacing: -0.0625rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

h4 {
  font-size: 1.1rem;
}

p {
  color: var(--clr-black-light);
}

.primary-logo {
  transition: transform 400ms ease;
}

.primary-logo:hover {
  transform: scale(1.03);
}

.container,
.hero-container,
.nav-container {
  max-width: 90rem;
  margin-inline: auto;
}

.container {
  padding: 5rem 2rem;
}

.hero-container,
.nav-container {
  padding-inline: 2rem;
  position: relative;
}

.hero-container {
  z-index: 2;
}

.landing-hero-pattern-container {
  position: absolute;
  top: 15%;
  opacity: 0.85;
  object-fit: contain;
  z-index: -1;
}

/* .about-hero-pattern-container {
  position: absolute;
  top: -7%;
  right: 0;
  opacity: 0.85;
  object-fit: cover;
} */

/* .nav-container {
  z-index: 51;
} */

.separator-container {
  position: relative;
  width: 100%;
  height: 360px;
  margin-top: -35px;
}

/* .primary-logo {
  position: relative;
  width: 110px;
  height: 61px;
} */

.btn {
  position: relative;
  padding: 0.875em 1.375em;
  border: 2px solid var(--clr-black);
  border-radius: 35px;
  box-shadow: 0 0 0 2px white inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.45);
  font-weight: 500;
  color: var(--clr-white);
  line-height: 150%;

  transition: all 400ms ease;
}

.btn:hover {
  box-shadow: 0 0 0 1px white inset;
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(2px);
}

/* .btn-cta {
  background-color: var(--clr-black);
} */

.btn-primary {
  background-color: var(--clr-black);
}

.red {
  color: var(--clr-red);
}

.yellow {
  color: var(--clr-yellow);
}

.green {
  color: var(--clr-green);
}

.turq {
  color: var(--clr-turq);
}

.blue {
  color: var(--clr-blue);
}

.purple {
  color: var(--clr-purple);
}

.bolder {
  font-weight: 800;
}

.custom-arrow:before {
  content: none !important;
}

.slick-dots li {
  margin: 0 !important;
}

/* .slick-dots li button:before {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
} */

.slick-list {
  overflow: visible !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
}

.slick-slide {
  padding: 0 24px;
  max-width: 800px;
}

.slick-dots {
  bottom: -60px !important;
}

.error-msg {
  color: red;
}

.error-msg,
.consent-msg {
  font-size: 12px;
  position: absolute;
  bottom: -25px;
  left: 1.25rem;
}

.consent-msg {
  color: var(--clr-white);
}

.consent-msg-consent {
  position: absolute;
  left: 0;
  bottom: -280px;
}

/* NAV AND HAMBURGER NAV */

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background-color: var(--clr-white);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 50;
  border-left: 1px solid #a19d99;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.mobile-nav.open {
  transform: translateX(0);
}

.hamburger-icon {
  display: none;
  position: relative;

  cursor: pointer;
  z-index: 100;
}

.desktop-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-icon svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  cursor: pointer;
  display: block;
  overflow: visible;
}

.bar1,
.bar3 {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: 50% 50%;
}

.hamburger-icon.open .bar1 {
  transform: rotate(45deg) translate(6px, 0px);
}

.hamburger-icon.open .bar2 {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.hamburger-icon.open .bar3 {
  transform: rotate(-45deg) translate(6px, 0px);
}

.journey-line::after {
  content: "";
  position: absolute;
  width: 1.5px;
  height: 100%;
  background-color: var(--clr-black);
  opacity: 0.15;
  /* border-radius: 5px; */
}

.blog-filters {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on touch devices */
  scrollbar-width: none;
}

.blog-filter-btn {
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  transition: all 0.3s ease;
}

.blog-filter-btn:hover,
.blog-filter-btn.active {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.custom-placeholder::placeholder {
  color: var(--clr-black); /* Assuming --border is defined in your CSS */
}

.hand-drawn-arrow-container {
  bottom: 5%;
}

.whale {
  position: absolute;
  top: -50px;
  left: -30px;
}

.giraffe {
  position: absolute;
  bottom: 0;
  right: 0;
}

.webelieveinchildren-text {
  max-width: 655px;
}

.youtubevideo-container {
  min-width: 650px;
  margin-inline: auto;
}

.whoweare-description {
  max-width: 240px;
}

.values-subtext {
  max-width: 255px;
}

.learnplaygrow-title {
  font-size: 2.5rem;
  text-align: start;
}

.about-squiggle-container {
  position: absolute;
  width: 100%;
  height: 950px;
  z-index: -1;
  opacity: 0.8;
}

.values-card {
  padding: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 1440px) {
  .whale {
    left: -130px;
  }
}

/* @media (max-width: 1600px), (max-height: 960px) {
  .explore-more {
    display: none;
  }
} */

@media (max-width: 1440px) and (max-height: 800px) {
  .hero-container {
    overflow: hidden;
  }

  .landing-hero-pattern-container {
    top: 28%;
  }
}

@media (max-width: 1280px) {
  .hero-container {
    overflow: hidden;
  }

  .landing-hero-pattern-container {
    top: 20%;
  }

  .separator-container {
    height: 250px;
  }

  h1 {
    font-size: 5.5rem;
  }

  .whale {
    left: -200px;
  }

  .giraffe {
    right: -50px;
  }

  .values-card {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 1024px) {
  nav > ul {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .desktop-nav,
  .desktop-nav-cta {
    display: none;
  }

  .hamburger-icon {
    display: block;
  }

  .mobile-nav {
    display: flex;
  }

  .landing-hero-pattern-container {
    top: 10%;
  }

  .hand-drawn-arrow-container {
    bottom: 22%;
  }

  .drop-down-arrow {
    display: none;
  }

  .webelieveinchildren-text {
    max-width: 470px;
  }

  h2 {
    font-size: 3rem;
  }

  .youtubevideo-container {
    min-width: 650px;
  }

  .whale {
    left: -250px;
    top: -80px;
  }

  .giraffe {
    display: none;
  }

  .about-squiggle-container {
    height: 1000px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3.8rem;
  }

  .container {
    padding: 4rem 1rem;
  }

  .btn {
    font-size: 0.85rem;
  }

  .hero-logo {
    padding-inline: 4.5rem;
  }

  .hand-drawn-arrow-container {
    bottom: 18%;
  }
  .whale {
    display: none;
  }

  .ally-shapes {
    display: none;
  }
}

@media (max-width: 450px) {
  .hero-container,
  .nav-container {
    padding-inline: 1rem;
  }

  .mobile-nav {
    width: 100%;
  }
  h2 {
    font-size: 2.7rem;
    text-align: center;
  }

  .learnplaygrow-title {
    text-align: center;
  }

  .consent-msg {
    left: 4.5rem;
  }

  .hero-logo {
    padding-inline: 0;
  }

  .landing-hero-pattern-container {
    top: unset;
    bottom: 0;
    left: 0;
  }

  .hand-drawn-arrow-container {
    bottom: 5%;
  }

  .separator-container {
    height: 82px;
  }

  .webelieveinchildren-text {
    max-width: 100%;
    text-align: center;
  }

  /* .slick-list {
    overflow: hidden !important;
  } */

  .slick-list,
  .slick-track {
    max-height: 300px;
  }

  .custom-arrow.slick-prev,
  .custom-arrow.slick-next {
    display: none !important;
  }

  .youtubevideo-container {
    min-width: 390px;
  }

  .whoweare-description {
    max-width: 100%;
  }

  .values-subtext {
    max-width: 100%;
  }

  .about-squiggle-container {
    display: none;
  }
}

@media (max-width: 390px) {
  h2 {
    font-size: 2.7rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .youtubevideo-container {
    min-width: 358px;
  }

  .blog-details-title {
    font-size: 0.9rem;
  }

  .blog-details-subtitle {
    font-size: 0.8rem;
  }
}

@media (max-width: 375px) {
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .explore-more {
    display: none;
  }

  .landing-hero-pattern-container {
    bottom: -5%;
  }
}
