.mailchimpInput {
  padding: 0.6rem 0 0.6rem 1.25rem;
  border-radius: 40px;
  border: 1px solid #a19d99;
  min-width: 365px;
  background-color: rgba(247, 242, 236, 0.2);
  font-size: 0.8rem;
  transition: border 400ms ease;

  &::placeholder {
    color: var(--clr-white);
    opacity: 0.75;
    font-size: 0.8rem;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.signUpBtn {
  background-color: var(--clr-white);
  width: 32px;
  height: 32px;
  border: 1px solid #a19d99;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: -8px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.success {
  &Title {
    font-family: var(--font-heading);
    font-size: 42px;
  }

  &Subtext {
    max-width: 300px;
    text-align: center;
  }

  &Btn {
    padding: 10px 28px;
    background-color: var(--clr-black);
    color: var(--clr-white);
    margin-top: var(--gap-sm);
    border-radius: 35px;
    transition: all 200ms ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
