.mailchimpInput {
  padding: 0.6rem 0 0.6rem 1.25rem;
  border-radius: 40px;
  border: 1px solid #a19d99;
  min-width: 365px;
  background-color: rgba(247, 242, 236, 0.2);
  font-size: 0.8rem;
  transition: border 400ms ease;

  @media (max-width: 768px) {
    min-width: 320px;
  }

  &::placeholder {
    color: var(--clr-white);
    opacity: 0.75;
    font-size: 0.8rem;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

.signUpBtn {
  background-color: var(--clr-white);
  width: 32px;
  height: 32px;
  border: 1px solid #a19d99;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: -8px;
  transform: translate(-50%, -50%);
  cursor: pointer;

  @media (max-width: 450px) {
    right: -5px;
  }
}

.success {
  &Title {
    font-family: var(--font-heading);
    font-size: 42px;
  }

  &Subtext {
    max-width: 300px;
    text-align: center;
  }

  &Btn {
    padding: 10px 28px;
    background-color: var(--clr-black);
    color: var(--clr-white);
    margin-top: var(--gap-sm);
    border-radius: 35px;
    transition: all 200ms ease;

    &:hover {
      opacity: 0.8;
    }
  }
}

.modalOverlay {
  position: fixed;
  inset: 0;
  padding-inline: 1rem;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  &Content {
    background-color: #f7f2ec;
    color: #363433;
    padding: 40px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 408px;
    min-width: 300px;
  }

  &ErrorTitle {
    color: var(--clr-red);
  }
}
