.blogPageH1 {
  font-size: 3.75rem;

  @media (max-width: 450px) {
    font-size: 2.5rem;
  }

  @media (max-width: 390px) {
    font-size: 2.4rem;
  }

  @media (max-width: 375px) {
    font-size: 2.3rem;
  }
}

.blog-filters {
}

.blogPostImgContainer {
  position: relative;
  max-width: 1094px;
  height: 600px;

  @media (max-width: 450px) {
    max-width: 100%;
    height: 400px;
  }

  @media (max-width: 390px) {
    max-width: 100%;
    height: 330px;
  }
}

.blogCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 1.5rem;
  border: 1px solid rgba(54, 52, 51, 0.2);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  transition: all 400ms ease;

  &.latest {
    flex-direction: row;
    align-items: center;
    border: none;
    box-shadow: none;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: var(--gap-md);
    }

    @media (max-width: 450px) {
      gap: var(--gap-xs);
    }

    & .blogCardImage {
      width: 600px;
      height: 410px;

      @media (max-width: 450px) {
        width: 390px;
        height: 410px;
      }

      @media (max-width: 390px) {
        width: 358px;
        height: 295px;
      }

      @media (max-width: 375px) {
        width: 343px;
        height: 279px;
      }

      & > img {
        border-radius: 1.4rem;
        object-fit: cover;
        border: 1px solid rgba(54, 52, 51, 0.2);
      }
    }

    & .blogCardText {
      background-color: transparent;
      max-width: 600px;

      @media (max-width: 375px) {
        padding: 1.5rem 0;
      }

      & .blogCardTitle {
        font-size: 2.2rem;

        @media (max-width: 450px) {
          font-size: 1.6rem;
        }

        @media (max-width: 390px) {
          font-size: 1.4rem;
        }
      }
    }

    &:hover {
      transform: translateY(0px);
    }

    & img {
      border-radius: 1.4rem;
    }
  }

  &:hover {
    border-color: var(--hover-border-color, rgba(54, 52, 51, 0.5));
    transform: translateY(-2px);
  }

  &Image {
    position: relative;
    // width: 416px;
    width: 100%;
    // max-width: 416px;
    height: 300px;
    overflow: hidden;

    @media (max-width: 1024px) {
      height: 235px;
    }

    & > img {
      border-radius: 1.4rem 1.4rem 0rem 0rem;
    }
  }

  &Text {
    display: flex;
    align-items: flex-start;
    padding: 1.5rem;
    flex-direction: column;
    gap: var(--gap-sm);
    border-radius: 0rem 0rem 1.5rem 1.5rem;
    background: var(--card-bg);
    max-width: 416px;

    @media (max-width: 1024px) {
      padding: 0.8rem;
    }

    @media (max-width: 450px) {
      padding: 1.5rem;
    }
  }

  &Tag,
  .latestPostTag {
    padding: 0.25rem 0.75rem;
    border-radius: 1.75rem;

    font-size: 0.875rem;
    line-height: 150%;

    @media (max-width: 450px) {
      font-size: 0.8rem;
    }
  }

  &Title {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 140%;

    @media (max-width: 1280px) {
      font-size: 1.1rem;
    }

    @media (max-width: 1024px) {
      font-size: 0.9rem;
    }

    @media (max-width: 450px) {
      font-size: 1.3rem;
    }
  }

  &Summary {
    color: var(--clr-black-light);
    line-height: 150%;

    @media (max-width: 1024px) {
      font-size: 0.75rem;
    }

    @media (max-width: 450px) {
      font-size: 1rem;
    }
  }

  &Author {
    font-size: 0.875rem;
    font-weight: 800;
    line-height: 150%;
  }

  &Date {
    font-size: 0.875rem;
    color: var(--clr-black-light);
  }
}

.familyTag {
  border: 2px solid var(--clr-red);
  color: var(--clr-red);
}

.educatorsTag {
  border: 2px solid var(--clr-blue);
  color: var(--clr-blue);
}

.parentsTag {
  border: 2px solid var(--clr-yellow);
  color: var(--clr-yellow);
}

.communityTag {
  border: 2px solid var(--clr-purp);
  color: var(--clr-purp);
}

.latestPostTag {
  border: 2px solid var(--clr-purple);
  color: var(--clr-purple);
}

.blogSectionSubtitle {
  max-width: 100%;
  text-align: center;

  @media (max-width: 450px) {
    max-width: 270px;
  }
}
