.testimonialsCard {
  display: flex !important;
  padding: 2rem 2.625rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  // gap: 2rem;
  gap: var(--gap-md);

  border-radius: 1.5rem;
  border: 1px solid rgba(54, 52, 51, 0.2);
  background: var(--card-bg);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  min-height: 296px;

  @media (max-width: 768px) {
    padding: 2rem;
    max-width: 500px;
    min-height: 266px;
    justify-content: space-between;
    // gap: 1.5rem;
  }

  @media (max-width: 450px) {
    max-width: 380px;
  }

  @media (max-width: 390px) {
    max-width: 358px;
    padding: 1.5rem;
    min-height: 246px;
  }

  @media (max-width: 375px) {
    width: 100%;
  }
}

.testimonialQuote {
  font-size: 1.625rem;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 768px) {
    font-size: 1.4rem;
  }

  @media (max-width: 450px) {
    font-size: 1.2rem;
    -webkit-line-clamp: 5;
  }

  @media (max-width: 390px) {
    font-size: 1.1rem;
  }
}

.testimonialName {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 150%; /* 1.3125rem */
}

.testimonialTitle {
  font-size: 0.875rem;
  line-height: 150%; /* 1.3125rem */
}

.carouselContainer {
  position: relative;
  overflow-x: hidden;
}

.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(
    90deg,
    #f7f2ec 0%,
    rgba(247, 242, 236, 0) 14.91%,
    rgba(247, 242, 236, 0) 85.1%,
    #f7f2ec 100%
  );
  opacity: 1;

  @media (max-width: 375px) {
    opacity: 0;
  }
}

.callieKite {
  position: absolute;
  top: -5%;
  right: 12%;
}

.callieSurf {
  position: absolute;
  top: -5%;
  left: 12%;
}
