.yourJourneyStickyContainer {
  position: sticky;
  top: 208px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  align-items: flex-start;

  @media (max-width: 768px) {
    top: unset;
  }

  @media (max-width: 450px) {
    position: relative;
    top: 0;
    align-items: center;
  }
}

.unveilTheMagic {
  &Card {
    padding: 3rem;
    background-color: var(--card-bg);
    border-radius: 24px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-sm);
    text-align: start;

    @media (max-width: 1280px) {
      max-width: 570px;
    }

    @media (max-width: 450px) {
      padding: 2rem;
      text-align: center;
      align-items: center;
    }

    &Title {
      font-size: 1.75rem;

      @media (max-width: 450px) {
        font-size: 1.4rem;
      }
    }
  }
}

.PricingCard {
  border: 1px solid var(--border);
  box-shadow: var(--card-shadow);
  max-width: 480px;
  width: 100%;
  border-radius: 24px;

  &Type {
    font-size: 1.125rem;
    font-weight: bold;
    text-align: start;

    @media (max-width: 450px) {
      font-size: 1rem;
      text-align: center;
    }
  }

  &Price {
    font-weight: bold;
    font-size: 3.5rem;
    text-align: start;

    @media (max-width: 450px) {
      font-size: 2.5rem;
      text-align: center;
    }
  }
}
